* @edwinkassier

/.github/ @edwinkassier
/scripts/ @edwinkassier
/Makefile @edwinkassier
/.terraform-docs.yml @edwinkassier
/.tfsec.yml @edwinkassier
/.tflint.hcl @edwinkassier

/envs/organization/ @edwinkassier
/envs/apps/ @edwinkassier
/examples/ @edwinkassier

/modules/governance/ @edwinkassier
/modules/host/ @edwinkassier
/modules/iam/ @edwinkassier
/modules/network/ @edwinkassier
/modules/stages/ @edwinkassier
/modules/artifact_registry/ @edwinkassier
/modules/cloud_storage/ @edwinkassier
/modules/firebase/ @edwinkassier
/modules/monitoring/ @edwinkassier
