name: Plan Organisation

on:
  pull_request:
    branches:
      - main
    paths:
      - 'envs/organisation/**'
      - 'modules/**'

jobs:
  plan:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: envs/organisation
        run: terraform init -backend=false

      - name: Terraform Format Check
        working-directory: envs/organisation
        run: terraform fmt -check -recursive

      - name: Terraform Validate
        working-directory: envs/organisation
        run: terraform validate

